@model webWheelOfDeath.Models.CWebGame

<div>
    <h4>CWebGame</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Difficulty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Difficulty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkDifficultyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkDifficultyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attempts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attempts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Misses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Misses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationMilliseconds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationMilliseconds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinBalloons)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinBalloons)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxBalloons)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxBalloons)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActiveFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActiveFlag)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
