@model IEnumerable<LibWheelOfDeath.ReportClasses.CGamePopularity>

<p>
    <a ajax-action="AdminCentre">Back to Index</a>
</p>
<p>
    Stop deleting all the game records, Ramin!
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Difficulty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimesPlayed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsArchived)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Game)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimesPlayed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsArchived)
            </td>

        </tr>
}
    </tbody>
</table>
