@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CWebGame;


<div id="modal-winner-id" class="modal-canvas hidden">
    <div class="main-panel modal-winner">
        <span class="close-popup">&#10006;</span>
        <form>
            <fieldset>
                <legend>Congratulations - You Won!</legend>

                <label for="numElapsedTime">Your Time (sec):</label>
                <output name="numElapsedTime" id="numElapsedTime"></output>

                <label for="numHits">Hits:</label>
                <output name="numHits" id="numHits"></output>

                <label for="numMisses">Misses:</label>
                <output name="numMisses" id="numMisses"></output>

                <output name="txtMiscMessage"></output>



            </fieldset>
            <fieldset>
                <button 
                    data-ajax-save 
                    data-action="SaveGameRecord" 
                    id="btnSaveResults" 
                    class="ornate" 
                    type="button">Save Game Results</button>
            </fieldset>
        </form>
    </div>
</div>


<script type="module" defer="defer">
    'use strict';
    import { CWheelGame } from "/js/CWheelGame.js";

    let _game;

    try {
        createGame()
    } catch (e) {
        new window.CMessageModal('#modal-message-id').display(e.message, false, 7000);
    }

    function createGame() {
        _game = new CWheelGame('@Context.Session.GetString("user-name")', "@Model.DurationMilliseconds", "@Model.MinBalloons", "@Model.MaxBalloons", "@Model.Attempts");

        // Re-enable save button when game starts
        const saveBtn = document.getElementById('btnSaveResults');
        if (saveBtn) {
            saveBtn.classList.remove('disabled');
            saveBtn.disabled = false;
        }

        // Listen for game-over event
        document.addEventListener('game-over', event => {
            console.log('Game over event:', event.detail);

            window.lastGameResult = {
                FkGameId: @Model.Id,
                FkPlayerId: @(Context.Session.GetString("player-user-id") ?? "0"),
                FkResultId: event.detail.gameStatus,
                ElapsedTime: event.detail.elapsed,
                BalloonsPopped: event.detail.balloonsPopped,
                Misses: event.detail.misses
            };

            // Re-enable save button for new game result
            const saveBtn = document.getElementById('btnSaveResults');
            if (saveBtn) {
                saveBtn.classList.remove('disabled');
                saveBtn.disabled = false;
            }
        });
    }

    // Handle save success
    $(document).on('game-save-success', function() {
        const saveBtn = document.getElementById('btnSaveResults');
        if (saveBtn) {
            saveBtn.classList.add('disabled');
            saveBtn.disabled = true;
        }
    });
</script>
